<div class="d-flex flex-column p-2"
    style="border-radius: 5px; background-color: #fff; box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.1);">
    <span style="color:#19B2EA; font-weight:600;" class="pb-2 ml-2">Engine</span>
    <span style="color:#0E3C4E; font-size: x-small; font-weight: bold;" class="pb-2 ml-2">Jospeh Kale</span>
    <span style="color:#3C3C3C; font-size: x-small;" class="pb-2 ml-2">Created | 11/20/21</span>
    <div class="ml-2  d-flex mr-auto align-self-end p-2 px-3 d-flex align-items-center justify-content-center"
      [ngStyle]="{'background-color': '#0E3C4E'}"
      style="margin-bottom: 3.5rem; max-height: 1.2rem; max-width:80%; text-align: center;  border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white">
      <span class="mr-2" style="font-size:xx-small;font-size:8px;  font-weight: bold;">
        Collection
      </span>
      <div class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
      <span style="color: white;font-size:8px;">
        45 secs
      </span>
    </div>
    <div (click) = "onClickVerify()" style="background-color: #19B2EA; color:white; border-radius: 5px; font-weight: bold;
    width: 90%; align-self: center; text-align: center; box-shadow: 2px 5px 0px 0px rgba(0,0,0,0.1); cursor: pointer;"
      class="d-flex align-items-center  py-2 justify-content-center">
      Verify
    </div>
  </div>
