<div class = "px-3 d-flex flex-column">
    <span class = "pb-3" style="font-weight:500;">North Montreal</span>
    <iframe style = "border-radius: 8px; border:none" width='70%' height='200px'
     src="https://api.mapbox.com/styles/v1/leigham/cl16y4cq6002s15qrih661fck.html?title=false&access_token=pk.eyJ1IjoibGVpZ2hhbSIsImEiOiJjbDE2eTB4enUwMDltM2lxcWVoMmIwZGczIn0.MYUBLCAOT7rs9oyGqhXeWA&zoomwheel=false#12/48.8665/2.3176" title="Basic" ></iframe>
    <!-- <iframe  class = "mb-4" style = "width: 100vw;" [src]= "url | safe" title="Basic" style="border:none; border-radius: 8px;"> -->
    <!-- </iframe> -->
</div>
