<div class  = "pt-4"  style="flex: auto; margin-left: 3rem; max-width: 50%; margin-right: 3rem; padding-left: 1rem; background-color: rgba(25, 178, 234, 0.018); ">
    <span style="font-size: 1.5rem;" > Equipment | <span style = " font-weight: 500; z-index: 10; color:black"> Screwdriver </span></span>
    <div class="d-flex flex-column  mt-4 " style="width:fit-content;">
        <div class = "mb-2">
            <span class = "mr-2 mb-4">Idaho Boise, US</span> 
        <img style = "object-fit:contain; width: 20px; height: 20px;" class = "pb-1" src = "../../assets/images/location_icon.png">
        </div>
        
        <iframe  class = "mb-4" width='100%' height='280px' src="https://api.mapbox.com/styles/v1/leigham/cl16y4cq6002s15qrih661fck.html?title=false&access_token=pk.eyJ1IjoibGVpZ2hhbSIsImEiOiJjbDE2eTB4enUwMDltM2lxcWVoMmIwZGczIn0.MYUBLCAOT7rs9oyGqhXeWA&zoomwheel=true#8.34/44.43/-114.692" title="Basic" style="border:none; border-radius: 8px;"></iframe>
        <h3>Quick Facts</h3>
        <p style="line-height: 1.2;" >Idaho is a northwestern U.S. state known for mountainous landscapes, and vast swaths of protected wilderness and outdoor recreation areas. The capital, Boise, is set in the Rocky Mountain foothills and is bisected by the Boise River, which is popular for rafting and fishing. 
            
        </p>
    </div>
</div>