<div class = "d-flex flex-column " style="max-width: 20vw; height:100vh; font-family: 'Montserrat'; ">
   <img class = "pt-2 mb-4" style = "object-fit:contain; width: 100%; height: 150px;" src = "../../assets/images/inspector1.png"/>
   <div class = "d-flex flex-column mt-4" style="margin-left:auto; margin-right: auto;">
    <span class="mb-4"> Inspected by</span>
    <span class = "mb-4" style="color: #19B2EA; font-weight: bold;"> Joseph Kale</span>
   </div>
   <div class = "row p-2 mb-4" style="margin-top: auto; text-align: center; margin-left:auto; margin-right: auto; font-size: 12px; ">
      <div class = "col mb-4 pb-4 mr-2" style="background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;" >
         <img src = "../../assets/images/graduate_cap.png" class= "mb-4 mt-2" style = "object-fit:contain; width: 100%; height: 50px;"/>
         <span >MIT Graduate</span>
      </div>
      <div class = "col mb-4 " style="background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;">
         <img src = "../../assets/images/certificate_2.png" class= "mb-4 mt-2" style = "object-fit:contain; width: 100%; height: 50px;"/>
         <span>OSHA Certified</span>
      </div>
      <div class = "col mr-2" style="background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;">
         <img src = "../../assets/images/certificate_1.png" class= "mb-4 mt-2" style = "object-fit:contain; width: 100%; height: 50px;"/>
         <span>CQI Certified</span>
      </div>
      <div class = "col" style="background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;">
         <img src = "../../assets/images/certificate_3.png" class= "mb-4 mt-2" style = "object-fit:contain; width: 100%; height: 50px;"/>
         <span>CCM Certified</span>
      </div>
   </div>
   
</div>
