<div style="background-color: #F7F7FF;  border-radius : .5rem; font-size: small;" class = " p-2 d-flex align-items-center justify-content-between">
    <span>CNC Machine</span>
    <span>Montreal North</span>
    <div class = "d-flex align-items-center justify-content-center font-size: x-small;" [ngStyle]="{'border-color': '#' + getAgeColor()}" style=" color:black; border-radius: 50%; width: 50px; height: 50px; border: 2px solid #EA526F;">
        {{age}}
    </div>
    <div class="px-3 mb-auto mt-auto align-self-end p-2  d-flex align-items-center justify-content-center"  [ngStyle]="{'background-color': '#' + getColor()}" style=" max-height: 1.2rem; max-width:80%; text-align: center;  border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
        <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
           Minor Wear
        </span>
        <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
        <span  style="font-size:x-small;">
            Level {{level}}
        </span>
    </div>
</div>
