
<html>


<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
<link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" href="./equipment-single-view.component.css">
</head>

<div class = "d-flex justify-content-between container" style="font-family: 'Montserrat', sans-serif;  width: 100vw; height: 100vh; ">
    
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <!-- <div class  = "pt-4"  style="flex: auto; margin-left: 3rem; max-width: 50%; margin-right: 3rem; padding-left: 1rem; background-color: rgba(25, 178, 234, 0.018); ">
        <span style="font-size: 1.5rem;" > Equipment | <span style = " font-weight: 500; z-index: 10; color:black"> Screwdriver </span></span>
        <div class="d-flex flex-column  mt-4 " style="width:fit-content;">
            <div class = "mb-2">
                <span class = "mr-2 mb-4">Idaho Boise, US</span> 
            <img style = "object-fit:contain; width: 15px; height: 15px;" class = "pb-1" src = "../../assets/images/location_icon.png">
            </div>
            
            <iframe  class = "mb-4" width='100%' height='280px' src="https://api.mapbox.com/styles/v1/leigham/cl16y4cq6002s15qrih661fck.html?title=false&access_token=pk.eyJ1IjoibGVpZ2hhbSIsImEiOiJjbDE2eTB4enUwMDltM2lxcWVoMmIwZGczIn0.MYUBLCAOT7rs9oyGqhXeWA&zoomwheel=false#8.34/44.43/-114.692" title="Basic" style="border:none; border-radius: 8px;"></iframe>
            <h3>Quick Facts</h3>
            <p style="line-height: 1.2;" >Idaho is a northwestern U.S. state known for mountainous landscapes, and vast swaths of protected wilderness and outdoor recreation areas. The capital, Boise, is set in the Rocky Mountain foothills and is bisected by the Boise River, which is popular for rafting and fishing. 
                
            </p>
        </div>
    </div> -->
    <!-- <app-comment-view></app-comment-view> -->
    <div style="width: 70%; margin-left: 2rem; margin-right: 1rem;">

    <div class = "d-flex flex-column">
        <span class = "pb-4" style="font-size: 1.5rem;" > Equipment | <span style = " font-weight: 500; z-index: 10; color:black"> Screwdriver </span></span>
        <span class = "mr-2 mb-4">Commenters</span> 
    </div>
   <div style="display:grid;  grid-template-columns: 1fr;   height: 80vh; ">
   
    
       <div (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"  id = "commenters" class="justify-items-start" style="overflow: auto;  display:grid; grid-template-columns: (1fr,1fr); grid-auto-flow: column; background-color: white; max-height: 200px;">
            <div class="d-flex flex-column" style="max-height: 100%; background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0.08) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../../assets/images/person_profile_2.png'); background-size:cover; background-repeat: no-repeat;  background-position: center;  margin: .5rem; width: 168px; height: 168px; border-radius: .75rem; box-shadow: 0px 10px 115px -3px rgba(0,0,0,0.1); background-color: white;">
                <div class="mb-1 align-self-start p-2 ml-2 d-flex align-items-center justify-content-center"  style="margin-top: auto; max-height: 1.2rem; max-width:80%; text-align: center; background-color: #5C5CE0; border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                    <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
                        Admin
                    </span>
                    <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                    <span  style="font-size:x-small;">
                        Level 2
                    </span>
                </div>
               
                <div class = "ml-2 mb-2"  style="color: white; font-size: x-small;">
                    Marthan@robo.com
                </div>
            </div>
            <div class="d-flex flex-column" style="max-height: 100%; background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0.08) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../../assets/images/person_profile_1.png'); background-size:cover; background-repeat: no-repeat;  background-position: center;  margin: .5rem; width: 168px; height: 168px; border-radius: .75rem; box-shadow: 0px 10px 115px -3px rgba(0,0,0,0.1); background-color: white;">
                <div class="mb-1 align-self-start p-2 ml-2 d-flex align-items-center justify-content-center"  style="margin-top: auto; max-height: 1.2rem; max-width:80%; text-align: center; background-color: #FEC601; border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                    <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
                        Inspector
                    </span>
                    <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                    <span  style="font-size:x-small;">
                        Level 1
                    </span>
                </div>
                <div class = "ml-2 mb-2"  style="color: white; font-size: x-small;">
                    Marcus@robo.com
                </div>
            </div>
            <div class="d-flex flex-column" style="max-height: 100%; background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0.08) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../../assets/images/person_profile_3.png'); background-size:cover; background-repeat: no-repeat;  background-position: center;  margin: .5rem; width: 168px; height: 168px; border-radius: .75rem; box-shadow: 0px 10px 115px -3px rgba(0,0,0,0.1); background-color: white;">
                <div class="mb-1 align-self-start p-2 ml-2 d-flex align-items-center justify-content-center"  style="margin-top: auto; max-height: 1.2rem; max-width:80%; text-align: center; background-color: #E05C5C; border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                    <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
                        Engineer 
                    </span>
                    <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                    
                    <span  style="font-size:x-small;">
                        Level 2
                    </span>
                </div>
                <div class = "ml-2 mb-2"  style="color: white; font-size: x-small;">
                    Hailey@cgi.com
                </div>
            </div>
            <div class="d-flex flex-column" style="   max-height: 100%; background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0.08) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../../assets/images/person_profile_4.png'); background-size:cover; background-repeat: no-repeat;  background-position: center;  margin: .5rem; width: 168px; height: 168px; border-radius: .75rem; box-shadow: 0px 10px 115px -3px rgba(0,0,0,0.1); background-color: white;">
                <div class="mb-1 align-self-start p-2 ml-2 d-flex align-items-center justify-content-center"  style="margin-top: auto; max-height: 1.2rem; max-width:80%; text-align: center; background-color: #E05C5C; border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                    <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
                        Engineer 
                    </span>
                    <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                    <span  style="font-size:x-small;">
                        Level 2
                    </span>
                </div>
                <div class = "ml-2 mb-2"  style="color: white; font-size: x-small;">
                    Jessica@cgi.co
                </div>
            </div>
            <div class="d-flex flex-column" style="max-height: 100%; background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.07) 75%, rgba(0,0,0,0.08) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../../assets/images/person_profile_5.png'); background-size:cover; background-repeat: no-repeat;  background-position: center;  margin: .5rem; width: 168px; height: 168px; border-radius: .75rem; box-shadow: 0px 10px 115px -3px rgba(0,0,0,0.1); background-color: white;">
                <div class="mb-1 align-self-start p-2 ml-2 d-flex align-items-center justify-content-center"  style="margin-top: auto; max-height: 1.2rem; max-width:80%; text-align: center; background-color: #FEC601; border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                    <span class="mr-2" style="font-size:x-small;  font-weight: bold;">
                        Inspector
                    </span>
                    <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                    <span  style="font-size:x-small;">
                        Level 1
                    </span>
                </div>
                <div class = "ml-2 mb-2"  style="color: white; font-size: x-small;">
                    Theodosia@robo.com
                </div>
            </div>
       </div>
    
    <div class = "d-flex ml-2" style=" max-height: 2rem;">
       <form class = "d-flex" >
           <input type="text" class = "py-1 mr-2" style= "width: 30vw; border-radius:2rem; border: 3px solid #6DCEF1; color:#6B96A4; "/>
            <button class="p-2 mr-4 d-flex justify-content-between" style="border: none; background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;">
                <img class = "mr-2" src = "../../assets/images/chevron.png"/>
                Date
            </button>
            <button class = "d-flex flex-column justify-content-between" class="p-2" style="border: none; background-color: white;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); border-radius: .75rem;">
                <img class = "mr-2" src = "../../assets/images/chevron.png" style="transform: scaleY(-1);"/>
                    Author         
            </button>
       </form>
       
    </div>
    <div>
        1
    </div>
    <div>
        1
    </div>
   </div>
</div>
    <app-inspector-profile></app-inspector-profile>
</div>
</html>