<div class = "d-flex ml-2 mb-4">
    <img src = '{{"../../assets/images/person_profile_" + image + ".png"}}' [ngStyle]="{'border-color': getBorderColor()}"  class = "mr-2" style="border: solid;  border-width: 2px;  border-radius: 50%;  height: 50px; width: 50px; object-fit: cover;"/>
    <div class = "d-flex flex-column justify-content-center">
      <div class = "d-flex mb-2 justify-content-between align-items-center" style="max-width:max-content; gap: 10px;">
          <span style="color:#6DCEF1;  font-size: small;" >{{author}}</span>
          <div style="border-radius: 50%; border-width: 5px; width: 10px; height: 10px; background-color: #C4C4C4;"></div>
          <span style="color: #B7B7B7; font-size: small;">{{date}}</span>
      </div>
      <span>Sturdy , albeit needs further inspection potential mechanical issues</span>
    </div>
 </div>