<div style="margin-bottom: 30px;" class = "p-2  d-flex align-items-center justify-content-between">
    <div class = "d-flex justify-content-between"  style="cursor: pointer; gap: 10px;  width: min-content;">
        <span>Name</span>
        <img style="object-fit:contain; " src = "../../assets/images/sort.png"/>
    </div>
    <div class = "d-flex justify-content-between"  style="cursor: pointer; gap: 10px;  width: min-content;">
        <span> Location</span>
        <img style="object-fit:contain; cursor: pointer;" src = "../../assets/images/sort.png"/>
    </div>
    <div class = "pr-2 d-flex justify-content-between"  style="cursor: pointer; gap: 10px;  width: min-content;">
        <span> Age</span>
        <img  style="cursor: pointer;  object-fit:contain;" src = "../../assets/images/sort.png"/>
    </div>
    <div class = "d-flex justify-content-between"  style=" cursor: pointer; gap: 10px;  width: min-content;">
        <span> Inspection</span>
        <img style="object-fit:contain;" src = "../../assets/images/sort.png"/>
    </div>
</div>