<div style="justify-content:space-between; margin-bottom: 30px;" class = "p-2  d-flex align-items-center">

    <app-sort-header-title title="Name"></app-sort-header-title>

    
    <div style="padding-left: 75px; padding-right: 100px;">
        <app-sort-header-title title="Location"></app-sort-header-title>
    </div>
    <div style="padding-right: 185px;">
        <app-sort-header-title title="Age"></app-sort-header-title>
    </div>
    


    <app-sort-header-title title="Inspections"></app-sort-header-title>

    
</div>