<div id = "engine-image-list" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"  class="justify-items-start " style=" z-index: -99;  overflow: auto; max-width: 70%;  display:grid; grid-template-columns: (1fr,1fr); grid-auto-flow: column; max-height: 200px;">
    <app-person-card role = "Admin" level = "2" email = "Marthan@robo.com" image = 1></app-person-card>
    <app-person-card role = "Inspector" level = "1" email = "Marcus@robo.com" image = 2></app-person-card>
    <app-person-card role = "Engineer" level = "2" email = " Hailey@robo.com" image = 3></app-person-card>
    <app-person-card role = "Engineer" level = "2" email = "Jessica@cgi.com" image = 4></app-person-card>
    <app-person-card role = "Inspector" level = "1" email = "Theodosia@robo.com" image = 5></app-person-card>
</div>