<div class = "d-flex flex-column align-items-center just-content-center"  style="text-align: left; max-width: 30 vw; height: 100vh;" >
    <img class = "pt-3 mb-4" style = "text-align: left; font-weight: 600; object-fit:cover; border-radius: 50%; height: 200px; width: 200px;" src = "../../assets//images/engine_1.jpg"/>
    <h4 class = "pb-2 font-bold mr-auto" style="text-align: left;">{{detailedEquipmentOverview?.name}}</h4>
    <div  class = "mb-2 pb-2 d-flex flex-column mr-auto" style="gap:10px;">
        <span style="color:#8F8F8F; font-weight: 600; font-size:x-small;" >Inspection date - 10/11/2021</span>
        <span style="color:#8F8F8F; font-weight: 600; font-size: x-small; " > Verified date - 10/13/2022</span>
    </div>
    <div>
        <div class = "d-flex justify-content-center mb-4 pr-4" >
            <div class = "d-flex align-items-center justify-content-center" [ngStyle]="{'border-color': '#' + getAgeColor()}" style=" color:black; border-radius: 50%; width: 55px; height: 55px; border: 2px solid #EA526F;">
                <div class = "d-flex flex-column align-items-center justify-cotent-center">
                    <span style="font-weight:500; font-size: x-small">{{this.currentEquipment?.aging}}</span>
                    <span style="font-weight:300; font-size: x-small;">Age</span>
                </div>
            </div>
        </div>
        <div class = "d-flex mb-3 justify-content-between">
            <div class="px-3 mb-auto mt-auto align-self-end p-2  d-flex align-items-center justify-content-center"  [ngStyle]="{'background-color': getColor()}" style=" max-height: 1.2rem; max-width:80%; text-align: center;  border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                <span class="mr-2" style="font-size:xx-small;  font-weight: bold;">
                   {{currentEquipment?.inspection?.verificationDetails?.severity != undefined ? 'Severity': 'Inspection TBA'}}
                </span>
                <div *ngIf = 'currentEquipment?.inspection?.verificationDetails?.severity != undefined'  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                <span *ngIf = 'currentEquipment?.inspection?.verificationDetails?.severity != undefined'  style="font-size:xx-small;">
                    Level 2
                </span>
            </div>
            <div class="mr-4 align-self-end p-2 px-3 d-flex align-items-center justify-content-center"  [ngStyle]="{'background-color': '#0E3C4E'}" style=" max-height: 1.2rem; max-width:80%; text-align: center;  border-top-left-radius: 15px; border-bottom-right-radius: 15px; color:white" >
                <span class="mr-2" style="font-size:xx-small;  font-weight: bold;">
                   Collection
                </span>
                <div  class="mr-2" style="border-radius: 50%; background-color: white; width: 5px; height: 5px;"></div>
                <span  style="color: white;font-size:8px;">
                    {{currentEquipment?.inspection?.collectingTime}} secs
                </span>
            </div>
        </div>
        <div class = "d-flex flex-column just-content-center mb-auto mt-auto" >
            <span style="letter-spacing:5px;" class = "pb-2"> Comments</span>
            <div >
                <p style="font-size: small;">{{currentEquipment?.comment}}
                </p>
                <div class="d-flex" style="cursor:pointer;">
                    <span style="font-size: small; font-weight: 600; color:#19B2EA;">Read More </span>
                    <img class = "pt-1 pr-4"  src = "../../assets/images/arrow-blue.png" style="height: 15px; width: 75px; object-fit: contain;"/>
                </div>
            </div>
            
        </div>
    </div>
</div>