<div class = "d-flex ml-4 flex pt-4 pr-4 px-4">
    <div class = "d-flex mr-auto flex-column">
    <span style="font-size: 1.5rem;padding-bottom: 2.5rem;" > Equipment | 
        <span style = " font-weight: 500; z-index: 10; color:black; "> {{equipmentName}} </span>
     </span>
    <span class = "pb-4" style="letter-spacing:2px;">{{title}} </span>
    </div>
    <div class = "d-flex flex-column ml-auto" style="height: 100%; ">
        <div class = "pb-4">
            <app-person-profile></app-person-profile>
        </div>
        <app-switch *ngIf = 'title == "Inspections"'></app-switch>
    </div>
   
</div>