<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./inspector-list.component.css">
</head>


<div id = "comments_inspection" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"class="pb-2 justify-items-start" style="gap:10px; max-height:80vh;overflow: auto; display: grid; font-family: 'Montserrat';" >
  <ul *ngFor="let inspection of inspectionList">
    <app-inspector-card  
    [date]=inspection.dateTime!.date 
    [severityLevel] = getSeverityLevel(inspection)
    [collectingTime]= inspection.collectingTime
    [verificationDate]= getVerificationDate(inspection)
    [verificationComment] = getVerificationComment(inspection) ></app-inspector-card>
  </ul>
</div>

</html>

