::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    
}
#comments_inspection{
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
   
}

#comments_inspection.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
#inspection_not_verified{
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}
#inspection_not_verified.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }