<div [@fade] = "!showVerified ? 'show' : 'hide'"  
*ngIf = "showVerified " id = "comments_inspection" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"class="pb-2 justify-items-start" style="gap:10px; max-height:70vh;overflow: auto; display: grid; font-family: 'Montserrat';" >
  <ul *ngFor="let inspection of inspectionList">
    <app-inspector-card  
    [date]=inspection.dateTime!.date 
    [severityLevel] = getSeverityLevel(inspection)
    [collectingTime]= inspection.collectingTime
    [verificationDate]= getVerificationDate(inspection)
    [verificationComment] = getVerificationComment(inspection) ></app-inspector-card>
  </ul>
</div>
<div
[@fade] = "showVerified ? 'show' : 'hide'"  
*ngIf = "showVerified == false"
class="mr-auto ml-auto"
  style="display: grid;gap:20px; 
  grid-template-columns: 1fr 1fr 1fr; justify-content: 
  space-between; width: 50vw; max-height:70vh; overflow: auto;"
  id = "inspection_not_verified" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  
    <app-inspector-card-not-verified></app-inspector-card-not-verified>
  
  
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  <app-inspector-card-not-verified></app-inspector-card-not-verified>
  
</div>