<div id = "table" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"  style="max-height:52vh;overflow: auto; display: grid;  gap: 20px;">
    <div *ngFor=" let item of equipment | dashboardOrderByPipe:sortColumnOrder.column:sortColumnOrder.order | dashboardPipe:searchText ">
        <app-table-row
         [equipment]="item" 
         [name] = "item.name" [age] = "item.aging" [location] = "item.location?.localtionurl "
         [collection]="item.inspection?.collectingTime"
         [severityName]="item.inspection?.verificationDetails?.inspectionResult?.name"
           
           >
        
        </app-table-row>
    </div>
</div>