<div id = "table" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"  style="max-height:52vh;overflow: auto; display: grid;  gap: 20px;">
    
    <app-table-row level = "5" age = "10"></app-table-row>
    <app-table-row level = "4" age = "20"></app-table-row>
    <app-table-row level = "3" age = "30"></app-table-row>
    <app-table-row level = "2" age = "40"></app-table-row>
    <app-table-row level = "1" age = "90"></app-table-row>
</div>